$font: 1em "Avenir", Helvetica, Arial, sans-serif;
$monoFont: 0.9em Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
$backgroundColor: white;
$mainColor: black;
$themeColor: #42b983;
$neutralColor: skyblue;
$turnColor0: darkblue;
$turnColor1: darkred;
$winColor: #42b983;
$drawColor: orange;
$tieColor: orange;
$loseColor: #ff4f4f;

.c-divider {
  border: 0.03em dotted;
}

.c-link-router {
  font-weight: bold;
  color: $mainColor;
  &.router-link-exact-active {
    color: $themeColor;
  }
}

.c-text {
  padding: 0 20% 0 20%;
  line-height: 2em;
}

.c-code-inline {
  border-radius: 0.25em;
  border: 0.04em solid #bcbec0;
  padding: 0.125em 0.25em 0.125em 0.25em;
  font: $monoFont;
}

.c-turn-0 {
  color: $turnColor0;
  background-color: $backgroundColor;
}

.c-turn-0-rev {
  color: $backgroundColor;
  background-color: $turnColor0;
}

.c-turn-1 {
  color: $turnColor1;
  background-color: $backgroundColor;
}

.c-turn-1-rev {
  color: $backgroundColor;
  background-color: $turnColor1;
}

.c-win {
  color: $winColor;
  background-color: $backgroundColor;
}

.c-win-rev {
  color: $mainColor;
  background-color: $winColor;
}

.c-draw {
  color: $drawColor;
  background-color: $backgroundColor;
}

.c-draw-rev {
  color: $mainColor;
  background-color: $drawColor;
}

.c-tie {
  color: $tieColor;
  background-color: $backgroundColor;
}

.c-tie-rev {
  color: $mainColor;
  background-color: $tieColor;
}

.c-lose {
  color: $loseColor;
  background-color: $backgroundColor;
}

.c-lose-rev {
  color: $backgroundColor;
  background-color: $loseColor;
}

.c-none {
  color: $mainColor;
  background-color: $backgroundColor;
}

.c-none-rev {
  color: $backgroundColor;
  background-color: $mainColor;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: $mainColor;
  padding: 0 10% 0 10%;
}

#app-header-nav {
  padding: 0 0 0.5em 0;
  > .c-link-router {
    font-size: 1.2em;
  }
}

#app-game,
#app-game-r2-c1,
#app-game-r2-c1-r1-c1,
#app-game-r2-c1-r1-c2,
#app-game-r2-c1-r1-c3 {
  display: flex;
  flex-flow: column nowrap;
}

#app-game-r2,
#app-game-r2-c1-r1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;

  > * {
    flex: 1 1 0;
  }
}

#app-game-r2-c1-r2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#app-game-r2-c1-r3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#app-game-roundNumber,
#app-game-turnName {
  font-weight: bold;
}

#app-game-undo,
#app-game-restart,
#app-game-redo {
  background-color: $neutralColor;
  padding: 2em;
  margin: 2em;
  border-radius: 100%;
}

#app-game-board {
  width: 5em;
  table-layout: fixed;
  td {
    height: 2em;
    vertical-align: middle;

    .c-turn-piece-0 {
      display: inline-block;
      background: $turnColor0;
      height: 1.5em;
      width: 1.5em;
    }

    .c-turn-piece-1 {
      display: inline-block;
      background: $turnColor1;
      height: 1.5em;
      width: 1.5em;
    }

    .c-hint-win {
      display: inline-block;
      background: $winColor;
      border-radius: 100%;
      height: 1.5em;
      width: 1.5em;
    }

    .c-hint-draw {
      display: inline-block;
      background: $drawColor;
      border-radius: 100%;
      height: 1.5em;
      width: 1.5em;
    }

    .c-hint-tie {
      display: inline-block;
      background: $tieColor;
      border-radius: 100%;
      height: 1.5em;
      width: 1.5em;
    }

    .c-hint-lose {
      display: inline-block;
      background: $loseColor;
      border-radius: 100%;
      height: 1.5em;
      width: 1.5em;
    }
    border: 1px solid black;
  }
  border-collapse: collapse;
}

#app-game-vvh-colorGuide {
  > * {
    padding: 0 1.5em 0 1.5em;
    margin: 0 0.5em 0 0.5em;
    border-radius: 100%;
  }
}
