$font: 1em "Avenir", Helvetica, Arial, sans-serif;
$monoFont: 0.9em Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
$backgroundColor: white;
$mainColor: black;
$themeColor: #42b983;
$neutralColor: skyblue;
$winColor: #42b983;
$drawColor: orange;
$tieColor: orange;
$loseColor: #ff4f4f;

@mixin roundBorder {
  padding: 1.5em;
  margin: 0.5em;
  border-radius: 100%;
  height: 7em;
}

.c-divider {
  border: 0.03em dotted;
}

.c-link-router {
  font-weight: bold;
  color: $mainColor;
  &.router-link-exact-active {
    color: $themeColor;
  }
}

.c-text {
  padding: 0 20% 0 20%;
  line-height: 2em;
}

.c-code-inline {
  border-radius: 0.25em;
  border: 0.04em solid #bcbec0;
  padding: 0.125em 0.25em 0.125em 0.25em;
  font: $monoFont;
}

.c-win {
  color: $mainColor;
  background-color: $winColor;
}

.c-draw {
  color: $mainColor;
  background-color: $drawColor;
}

.c-tie {
  color: $mainColor;
  background-color: $tieColor;
}

.c-lose {
  color: $backgroundColor;
  background-color: $loseColor;
}

.c-none {
  color: $mainColor;
  background-color: $backgroundColor;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  color: $mainColor;
  padding: 0 10% 0 10%;
}

#app-header-nav {
  padding: 0 0 0.5em 0;
  .c-link-router {
    font-size: 1.2em;
  }
}

#app-game-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;

  > * {
    flex: 1 1 auto;
  }
}

#app-game-main-left {
  display: flex;
  flex-flow: column nowrap;
}

#app-game-main-left-row1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  > * {
    flex: 1 1 0;
  }
}

#app-game-roundNumber,
#app-game-turnName {
  font-weight: bold;
}

#app-game-restart {
  @include roundBorder();
  background-color: $neutralColor;
}

#g1020 {
  .app-game-board {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5%;
  }

  .app-game-move {
    @include roundBorder();
  }
}
