$backgroundColor: #003262;
$fixedWidthFontFamily: "Roboto Mono", "Noto Serif SC", monospace;
$neutralColor: #46535e;
$primaryColor: #fdb515;
$regularFontFamily: "Open Sans", "Noto Serif SC", sans-serif;
$secondaryColor: #ffffff;