$backgroundColor: #1e1e1e;
$fixedWidthFontFamily: "Roboto Mono", "Noto Serif SC", monospace;
$neutralColor: #46535e;
$primaryColor: #fdfff5;
$regularFontFamily: "Roboto", "Noto Serif SC", sans-serif;
