$backgroundColor: #284123;
$fixedWidthFontFamily: "Nova Mono", "Long Cang", monospace;
$neutralColor: #46535e;
$primaryColor: #e0dbd1;
$regularFontFamily: "Schoolbell", "Long Cang", cursive;
$secondaryColor: #ffffff;