@use "blackboard";
@use "cal";
@use "classic";
@use "dark";
@use "greenboard";
@use "light";
@use "rose";
@use "sepia";
@use "space";
@use "terminal";

#app.uni-theme-blackboard {
    --backgroundColor: #{blackboard.$backgroundColor};
    --fixedWidthFontFamily: #{blackboard.$fixedWidthFontFamily};
    --neutralColor: #{blackboard.$neutralColor};
    --primaryColor: #{blackboard.$primaryColor};
    --regularFontFamily: #{blackboard.$regularFontFamily};
}

#app.uni-theme-cal {
    --backgroundColor: #{cal.$backgroundColor};
    --fixedWidthFontFamily: #{cal.$fixedWidthFontFamily};
    --neutralColor: #{cal.$neutralColor};
    --primaryColor: #{cal.$primaryColor};
    --regularFontFamily: #{cal.$regularFontFamily};
}

#app.uni-theme-classic {
    --backgroundColor: #{classic.$backgroundColor};
    --fixedWidthFontFamily: #{classic.$fixedWidthFontFamily};
    --neutralColor: #{classic.$neutralColor};
    --primaryColor: #{classic.$primaryColor};
    --regularFontFamily: #{classic.$regularFontFamily};
}

#app.uni-theme-dark {
    --backgroundColor: #{dark.$backgroundColor};
    --fixedWidthFontFamily: #{dark.$fixedWidthFontFamily};
    --neutralColor: #{dark.$neutralColor};
    --primaryColor: #{dark.$primaryColor};
    --regularFontFamily: #{dark.$regularFontFamily};
}

#app.uni-theme-greenboard {
    --backgroundColor: #{greenboard.$backgroundColor};
    --fixedWidthFontFamily: #{greenboard.$fixedWidthFontFamily};
    --neutralColor: #{greenboard.$neutralColor};
    --primaryColor: #{greenboard.$primaryColor};
    --regularFontFamily: #{greenboard.$regularFontFamily};
}

#app.uni-theme-light {
    --backgroundColor: #{light.$backgroundColor};
    --fixedWidthFontFamily: #{light.$fixedWidthFontFamily};
    --neutralColor: #{light.$neutralColor};
    --primaryColor: #{light.$primaryColor};
    --regularFontFamily: #{light.$regularFontFamily};
}

#app.uni-theme-rose {
    --backgroundColor: #{rose.$backgroundColor};
    --fixedWidthFontFamily: #{rose.$fixedWidthFontFamily};
    --neutralColor: #{rose.$neutralColor};
    --primaryColor: #{rose.$primaryColor};
    --regularFontFamily: #{rose.$regularFontFamily};
}

#app.uni-theme-sepia {
    --backgroundColor: #{sepia.$backgroundColor};
    --fixedWidthFontFamily: #{sepia.$fixedWidthFontFamily};
    --neutralColor: #{sepia.$neutralColor};
    --primaryColor: #{sepia.$primaryColor};
    --regularFontFamily: #{sepia.$regularFontFamily};
}

#app.uni-theme-terminal {
    --backgroundColor: #{terminal.$backgroundColor};
    --fixedWidthFontFamily: #{terminal.$fixedWidthFontFamily};
    --neutralColor: #{terminal.$neutralColor};
    --primaryColor: #{terminal.$primaryColor};
    --regularFontFamily: #{terminal.$regularFontFamily};
}

#app.uni-theme-space {
    --backgroundColor: #{space.$backgroundColor};
    --fixedWidthFontFamily: #{space.$fixedWidthFontFamily};
    --neutralColor: #{space.$neutralColor};
    --primaryColor: #{space.$primaryColor};
    --regularFontFamily: #{space.$regularFontFamily};
}
