$backgroundColor: #390000;
$fixedWidthFontFamily: "Roboto Mono", "Noto Serif SC", monospace;
$neutralColor: #46535e;
$primaryColor: #ff007f;
$regularFontFamily: "Roboto", "Noto Serif SC", sans-serif;
