$backgroundColor: #704214;
$fixedWidthFontFamily: "Roboto Mono", "Noto Serif SC", monospace;
$neutralColor: #1e1e1e;
$primaryColor: #ff7f00;
$regularFontFamily: "Roboto", "Noto Serif SC", sans-serif;
$secondaryColor: #ffffff;