$backgroundColor: #282828;
$fixedWidthFontFamily: "VT323", "Noto Serif SC", monospace;
$neutralColor: #46535e;
$primaryColor: #00ff33;
$regularFontFamily: "VT323", "Noto Serif SC", monospace;
$secondaryColor: #ffffff;