$font: 1em Avenir, Helvetica, Arial, sans-serif;
$monoFont: 1em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$backgroundColor: #003262;
$primaryColor: #ffffff;
$secondaryColor: #fdb515;
$themeColor: #fdb515;
$turn0Color: #6aa1df;
$turn1Color: #ce6c6c;
$winColor: #42b983;
$drawColor: #c4820e;
$tieColor: #c4820e;
$loseColor: #d9661f;
