$font: 1em Avenir, Helvetica, Arial, sans-serif;
$monoFont: 1em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$backgroundColor: #003262;
$primaryColor: #ffffff;
$secondaryColor: #003262;
$themeColor: #FDB515;
$turn0Color: #00008b;
$turn1Color: #8b0000;
$winColor: #42b983;
$drawColor: #ffa500;
$tieColor: #ffa500;
$loseColor: #ff4f4f;
