$font: 1em Avenir, Helvetica, Arial, sans-serif;
$monoFont: 1em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$backgroundColor: #1e1e1e;
$primaryColor: #ffffff;
$secondaryColor: #1e1e1e;
$themeColor: #06d85f;
$turn0Color: #8e8ef5;
$turn1Color: #f18686;
$winColor: #00ff22;
$drawColor: #ffff00;
$tieColor: #ffff00;
$loseColor: #ff3c00;
