@use "cal";
@use "classic";
@use "dark";
@use "light";
@use "oski";

body {
  --turn0Color: #6aa1df;
  --turn1Color: #ce6c6c;
  --winColor: #00ff22;
  --drawColor: #ffff00;
  --tieColor: #ffff00;
  --loseColor: #ff3c00;
}

body.c-theme-cal {
  --font: #{cal.$font};
  --monoFont: #{cal.$monoFont};
  --backgroundColor: #{cal.$backgroundColor};
  --primaryColor: #{cal.$primaryColor};
  --secondaryColor: #{cal.$secondaryColor};
  --themeColor: #{cal.$themeColor};
}

body.c-theme-classic {
  --font: #{classic.$font};
  --monoFont: #{classic.$monoFont};
  --backgroundColor: #{classic.$backgroundColor};
  --primaryColor: #{classic.$primaryColor};
  --secondaryColor: #{classic.$secondaryColor};
  --themeColor: #{classic.$themeColor};
}

body.c-theme-dark {
  --font: #{dark.$font};
  --monoFont: #{dark.$monoFont};
  --backgroundColor: #{dark.$backgroundColor};
  --primaryColor: #{dark.$primaryColor};
  --secondaryColor: #{dark.$secondaryColor};
  --themeColor: #{dark.$themeColor};
}

body.c-theme-light {
  --font: #{light.$font};
  --monoFont: #{light.$monoFont};
  --backgroundColor: #{light.$backgroundColor};
  --primaryColor: #{light.$primaryColor};
  --secondaryColor: #{light.$secondaryColor};
  --themeColor: #{light.$themeColor};
}

body.c-theme-oski {
  --font: #{oski.$font};
  --monoFont: #{oski.$monoFont};
  --backgroundColor: #{oski.$backgroundColor};
  --primaryColor: #{oski.$primaryColor};
  --secondaryColor: #{oski.$secondaryColor};
  --themeColor: #{oski.$themeColor};
}
