@use "blackboard";
@use "cal";
@use "classic";
@use "dark";
@use "greenboard";
@use "light";
@use "terminal";
@use "rose";
@use "sepia";
@use "space";

body {
  --themeColor: #778899;
  // --turn0Color: #6aa1df;
  // --turn1Color: #ce6c6c;
  --turn0Color: #0000ff;
  --turn1Color: #ff0000;
  --winColor: #008000;
  --drawColor: #ffff00;
  --tieColor: #ffff00;
  --loseColor: #800000;
}

body.c-theme-blackboard {
  --font: #{blackboard.$font};
  --monoFont: #{blackboard.$monoFont};
  --backgroundColor: #{blackboard.$backgroundColor};
  --primaryColor: #{blackboard.$primaryColor};
  --neutralColor: #{blackboard.$neutralColor};
}

body.c-theme-cal {
  --font: #{cal.$font};
  --monoFont: #{cal.$monoFont};
  --backgroundColor: #{cal.$backgroundColor};
  --primaryColor: #{cal.$primaryColor};
  --neutralColor: #{cal.$neutralColor};
}

body.c-theme-classic {
  --font: #{classic.$font};
  --monoFont: #{classic.$monoFont};
  --backgroundColor: #{classic.$backgroundColor};
  --primaryColor: #{classic.$primaryColor};
  --neutralColor: #{classic.$neutralColor};
}

body.c-theme-dark {
  --font: #{dark.$font};
  --monoFont: #{dark.$monoFont};
  --backgroundColor: #{dark.$backgroundColor};
  --primaryColor: #{dark.$primaryColor};
  --neutralColor: #{dark.$neutralColor};
}

body.c-theme-greenboard {
  --font: #{greenboard.$font};
  --monoFont: #{greenboard.$monoFont};
  --backgroundColor: #{greenboard.$backgroundColor};
  --primaryColor: #{greenboard.$primaryColor};
  --neutralColor: #{greenboard.$neutralColor};
}

body.c-theme-light {
  --font: #{light.$font};
  --monoFont: #{light.$monoFont};
  --backgroundColor: #{light.$backgroundColor};
  --primaryColor: #{light.$primaryColor};
  --neutralColor: #{light.$neutralColor};
}

body.c-theme-rose {
  --font: #{rose.$font};
  --monoFont: #{rose.$monoFont};
  --backgroundColor: #{rose.$backgroundColor};
  --primaryColor: #{rose.$primaryColor};
  --neutralColor: #{rose.$neutralColor};
}

body.c-theme-sepia {
  --font: #{sepia.$font};
  --monoFont: #{sepia.$monoFont};
  --backgroundColor: #{sepia.$backgroundColor};
  --primaryColor: #{sepia.$primaryColor};
  --neutralColor: #{sepia.$neutralColor};
}

body.c-theme-terminal {
  --font: #{terminal.$font};
  --monoFont: #{terminal.$monoFont};
  --backgroundColor: #{terminal.$backgroundColor};
  --primaryColor: #{terminal.$primaryColor};
  --neutralColor: #{terminal.$neutralColor};
}

body.c-theme-space {
  --font: #{space.$font};
  --monoFont: #{space.$monoFont};
  --backgroundColor: #{space.$backgroundColor};
  --primaryColor: #{space.$primaryColor};
  --neutralColor: #{space.$neutralColor};
}
