$font: 1em Avenir, Helvetica, Arial, sans-serif;
$monoFont: 1em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$backgroundColor: #c4820e;
$primaryColor: #000000;
$secondaryColor: #c4820e;
$themeColor: #3b7ea1;
$turn0Color: #00008b;
$turn1Color: #8b0000;
$winColor: #00ff22;
$drawColor: #ffff00;
$tieColor: #ffff00;
$loseColor: #ff3c00;
