body {
  font: var(--font);
  text-align: center;
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  padding: 0 10% 0 10%;
}

.c-divider {
  border: 0.03em dotted;
}

.c-link-router {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0.3em 0 0;
  color: var(--primaryColor);
  &.router-link-exact-active {
    color: var(--themeColor);
  }
}

.c-link-external {
  &:link {
    font-weight: bold;
    color: #3730ff;
  }
  &:visited {
    color: #df29ff;
  }
}

.c-text {
  padding: 0 20% 0 20%;
  line-height: 2em;
}

.c-code-inline {
  font: var(--monoFont);
  border: 0.04em solid #bcbec0;
  border-radius: 0.25em;
  padding: 0.125em 0.25em 0.125em 0.25em;
}

.c-dropdown {
  position: relative;
  display: inline-block;
  min-width: 7em;

  &:hover {
    background-color: var(--themeColor);
    .c-dropdown-menu {
      display: block;
    }
  }

  .c-dropdown-selection {
    font-weight: bold;
  }

  .c-dropdown-selection,
  .c-dropdown-menu-choice {
    text-align: left;
    padding: 0.25em 1em 0.25em 1em;
  }

  .c-dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--backgroundColor);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .c-dropdown-menu-choice {
    padding: 0.25em 0.28em 0.25em 1em;
    min-width: 7em;
    &:hover {
      background-color: var(--themeColor);
    }
  }
}

//   .c-turn-0 {
//     color: $turnColor0;
//     background-color: $backgroundColor;
//   }

//   .c-turn-0-rev {
//     color: $backgroundColor;
//     background-color: $turnColor0;
//   }

//   .c-turn-1 {
//     color: $turnColor1;
//     background-color: $backgroundColor;
//   }

//   .c-turn-1-rev {
//     color: $backgroundColor;
//     background-color: $turnColor1;
//   }

//   .c-win {
//     color: $winColor;
//     background-color: $backgroundColor;
//   }

//   .c-win-rev {
//     color: $mainColor;
//     background-color: $winColor;
//   }

//   .c-draw {
//     color: $drawColor;
//     background-color: $backgroundColor;
//   }

//   .c-draw-rev {
//     color: $mainColor;
//     background-color: $drawColor;
//   }

//   .c-tie {
//     color: $tieColor;
//     background-color: $backgroundColor;
//   }

//   .c-tie-rev {
//     color: $mainColor;
//     background-color: $tieColor;
//   }

//   .c-lose {
//     color: $loseColor;
//     background-color: $backgroundColor;
//   }

//   .c-lose-rev {
//     color: $backgroundColor;
//     background-color: $loseColor;
//   }

//   .c-none {
//     color: $mainColor;
//     background-color: $backgroundColor;
//   }

//   .c-none-rev {
//     color: $backgroundColor;
//     background-color: $mainColor;
//   }

//   #app-game,
//   #app-game-r2-c1,
//   #app-game-r2-c1-r1-c1,
//   #app-game-r2-c1-r1-c2,
//   #app-game-r2-c1-r1-c3 {
//     display: flex;
//     flex-flow: column nowrap;
//   }

//   #app-game-r2,
//   #app-game-r2-c1-r1 {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;
//     align-items: flex-start;

//     > * {
//       flex: 1 1 0;
//     }
//   }

//   #app-game-r2-c1-r2 {
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: space-around;
//     align-items: center;
//   }

//   #app-game-r2-c1-r3 {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: center;
//     align-items: center;
//   }

//   #app-game-roundNumber,
//   #app-game-turnName {
//     font-weight: bold;
//   }

//   #app-game-undo,
//   #app-game-restart,
//   #app-game-redo {
//     background-color: $neutralColor;
//     padding: 2em;
//     margin: 2em;
//     border-radius: 100%;
//   }

//   #app-game-board {
//     width: 5em;
//     table-layout: fixed;
//     td {
//       .c-turn-piece-0 {
//         display: inline-block;
//         color: $backgroundColor;
//         background-color: $turnColor0;
//         height: 1.5em;
//         width: 1.5em;
//       }

//       .c-turn-piece-1 {
//         display: inline-block;
//         color: $backgroundColor;
//         background-color: $turnColor1;
//         height: 1.5em;
//         width: 1.5em;
//       }

//       .c-hint-win {
//         cursor: pointer;
//         display: inline-block;
//         background-color: $winColor;
//         border-radius: 100%;
//         height: 1.5em;
//         width: 1.5em;
//       }

//       .c-hint-draw {
//         cursor: pointer;
//         display: inline-block;
//         background-color: $drawColor;
//         border-radius: 100%;
//         height: 1.5em;
//         width: 1.5em;
//       }

//       .c-hint-tie {
//         cursor: pointer;
//         display: inline-block;
//         background-color: $tieColor;
//         border-radius: 100%;
//         height: 1.5em;
//         width: 1.5em;
//       }

//       .c-hint-lose {
//         cursor: pointer;
//         display: inline-block;
//         background-color: $loseColor;
//         border-radius: 100%;
//         height: 1.5em;
//         width: 1.5em;
//       }

//       height: 2em;
//       vertical-align: middle;
//       border: 1px solid black;
//     }
//     border-collapse: collapse;
//   }

//   #app-game-vvh-colorGuide {
//     > * {
//       padding: 0 1.5em 0 1.5em;
//       margin: 0 0.5em 0 0.5em;
//       border-radius: 100%;
//     }
//   }
// }
